body {
  background: rgb(255, 190, 79);
  background: linear-gradient(
    279deg,
    rgba(255, 190, 79, 1) 17%,
    rgba(255, 254, 164, 1) 100%
  );
}

h1 {
  text-align: center;
  color: rgb(247, 119, 119);
}

p {
  text-align: center;
  color: rgb(247, 119, 119);
}
footer {
  display: block;
  text-align: center;
}

footer a {
  margin: 0 10px;
}

img {
  display: block;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
}

.photo-title {
  text-align: center;
  color: rgb(247, 119, 119);
}
